.root{
    padding: 2rem;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.title{
    color: #f2f530;
    margin-bottom: .4rem;
}

.button{
    width: 100%;
    padding: 1rem;
}

.cardSpacechip{
    width: 60%;
    
}

.cardBtn{
    display: flex;
    justify-content: space-between;
}

.h5{
    margin-bottom: .3rem;
}

.description{
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .root {
      padding: 1rem;
    }

    .image{
        padding: 2rem;
    }
  
    .title {
      font-size:2rem;
    }

    .cardBtn{
        flex-direction: column;
       gap: 1rem;
       align-items: center;
    }
.cardSpacechip{
    width: auto;
}


  
   
  
  
  }