* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff2ff;
  font-family: var(--font-orbitron);
}

header {
  padding: 1.3rem;
  text-align: center;
  display: flex;
  gap: 8rem;
  justify-content: center;
  flex-wrap: wrap;
}

.router-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid transparent;
}

.router-links a {
  text-decoration: none;
  color: #fff2ff;
  border-bottom: 1px solid transparent;
}

.router-links a:hover {
  border-bottom: 1px solid #f2f530;
  transition: 0.5s;
  color: #f2f530;
}

button {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: #000;
  border: 2px solid #fff2ff;
  border-radius: 5px;
  color: #fff2ff;
  font-weight: 600;
}

button:hover {
  background-color: #fff2ff;
  color: #000;
  transition: 0.3s;
  cursor: pointer;
}

@media (max-width: 768px) {
  .router-links {
    flex-direction: column;
  }
  h4 {
    font-size: 0.9rem;
  }
}
